html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
}
html{
  &.fullscreen-modal-open:not(.is-os-ios){
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;

    body{
      position: relative;
      top: 50px;
      height: 100%;
      overflow-y:scroll;
    }
  }
}
body{
  &.modal-open {
      overflow: hidden;
      touch-action: none;
      overflow-behavior: none;
    }
}
.modal-open-btn{
  position: fixed;
  top: 16px;
  left: 16px;
}
.fullscreen-modal{
  display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@supports(height: 100dvh){
		height: 100dvh;
	};
	
	background-color: #fff;
	z-index: 99;

	&.active{
		display: block;
	}
}
.fullscreen-modal__container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fullscreen-modal__header{
  position: relative;
  flex: 0 0 auto;
  z-index: 4;
  height: 54px;
  overflow: hidden;
  // background-color: orange;
}
.fullscreen-modal__close{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  &[data-fullscreen-close-all]{
    position: static;
    transform: none;
  }
  
  @media (any-hover: hover) { //только для устройств с ховером
        cursor: pointer;
        &:hover{

        }
    }
}
.fullscreen-modal__body{
  flex: 1 1 auto;
  overflow-y: auto;
  scrollbar-gutter: stable;
  // background-color: lightgray;
}
.fullscreen-modal__footer{
  flex: 0 0 auto;
  height: 54px;
  // background-color: pink;
}