[data-spoilers] {
  --animation-duration: 0.3s;
  // --border-color: #ccc;
  // width: clamp(500px, 50%, 800px);
  // margin: 50px auto;

  

  // &__text {
  //   padding: 0 20px 20px;
  // }
}
[data-spoiler-item] {
    // margin: -1px 0 0;
    // border: 1px solid var(--border-color);
    transition: var(--animation-duration);

    &:not(.js-details)[open],
    &.is-open {
      // --border-color: #666;
      // position: relative;
    }
  }
[data-spoiler-title] {
    position: relative;
     list-style: none; /* убираем стандартный маркер Firefox */
    cursor: pointer;


    &::after {
      content: "";
      position: absolute;
      top: calc(50% - rem(4));
      right: 0;
      width: rem(12);
      height: rem(8);
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 8'%3E%3Cpath stroke='%23999' stroke-width='2' d='M1 1l5 5 5-5'/%3E%3C/svg%3E");
      transition: var(--animation-duration);

      [data-spoiler-item]:not(.js-details)[open] &,
      [data-spoiler-item].is-open & {
        transform: rotate(-180deg);
      }
    }

    &::marker {
    &::-webkit-details-marker {
      display: none; /* убираем стандартный маркер Chrome */
    }
  }
}
[data-spoiler-content] {
    .js-details & {
      max-height: 0;
      overflow: hidden;
      animation: slideUp var(--animation-duration);
    }

    .js-details.is-open & {
      max-height: var(--details-height);
      animation: slideDown var(--animation-duration);
    }
  }
@keyframes slideUp {
  0% {
    max-height: var(--details-height);
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: var(--details-height);
    opacity: 1;
  }
}
