/*--------------------ui----------------------*/
// @import "_breadcrumbs.scss";
// .btn{
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   height: 50px;
//   border: none;
//   color: #fff;
//   text-decoration: none;
//   background-color: $accent;
//   padding: 5px 15px;
//   font-size: 13px;
//   text-transform: uppercase;
//   border-radius: 2px;
//   text-align: center;
//   position: relative;
//   outline: none;
//   transition: background-color .1s ease;
	
   // @media (any-hover: hover) { //только для устройств с ховером
   // 		cursor: pointer;
   // 		&:hover{
   //  		 background-color: lighten($accent, 5%);

   // 		}
   // 	}   
		
//   &:active{
//    background-color: darken($accent, 5%);
//   }
  
//   &-fw{
//    width: 100%;
//   }
   
// }

// .toggle-mnu{
// 	position: fixed;
// 	right: 30px;
// 	top: 15px;
//   display: block;
//   width: 28px;
//   height: 28px;
//   margin-top: 14px;
//   padding: 0;
//   background-color: transparent;
//   border: none;

//   span:after, span:before{

//     content: "";
//     position: absolute;
//     left: 0;
//     top: 9px;
//   } 

//   span:after{

//     top: 18px;
//   }

//   span{

//     position: relative;
//     display: block;
//   } 

//   span, span:after, span:before{

//     width: 100%;
//     height: 2px;
//     background-color: #000;
//     transition: all 0.3s;
//     backface-visibility: hidden;
//     border-radius: 2px;
//   }


//   &.on span{

//     background-color: transparent;
//   } 

//   &.on span:before{

//     transform: rotate(45deg) translate(-1px, 0px);
//   } 

//   &.on span:after{

//     transform: rotate(-45deg) translate(6px, -7px);
//   } 
// } 
/*--------------------END ui----------------------*/ 