.bottom-sheet {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  // opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.5s linear;
}
.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;

  .bottom-sheet__sheet-overlay {
    visibility: visible;
  }
}
.bottom-sheet__sheet-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: #000;
}
.bottom-sheet__content {
  padding-bottom: 30px;

  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 50vh;
  transform: translateY(120%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  will-change: transform;
}
.bottom-sheet.show .bottom-sheet__content{
  transform: translateY(0%);
}
.bottom-sheet.dragging .bottom-sheet__content {
  transition: none;
}
.bottom-sheet.fullscreen .bottom-sheet__content {
  border-radius: 0;
  overflow-y: hidden;
}
.bottom-sheet__header {
  padding: 0 0 16px 16px;
  // display: flex;
  // justify-content: center;
  // .bottom-sheet-variants__header{
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  // }
}
.bottom-sheet__drag-icon {
  cursor: grab;
  user-select: none;
  padding: 7px 15px 8px 15px;
  // margin-top: -15px;
}
.bottom-sheet__drag-icon span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  width: 40px;
  display: block;
  background: #C7D0E1;
  border-radius: 50px;
}
.bottom-sheet__body {
  height: calc(100% - 50px);
  margin-right: 5px;
  overflow-y: auto;
  padding: 0 0 5px 16px;
  border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}